body{
  height: 100%;
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#mainContainer{
  height:100%;
  padding: 0px;
  margin: 0px;

}

h1{
  margin: 0px;
  padding: 0px;
  font-size: 75px;
  color: #F5E8E8;
}

h2{
  margin: 0px;
  padding: 0px;
  font-family: fantasy;
  color: #AA8484
}

h3{
  margin: 20px;
  padding: 20px;
  text-align: center center;
  font-size: 1.5em;
  font-family: fantasy;
  color: #F5E8E8;
}

h4{
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  font-family: fantasy;
  color: #F5E8E8;
}

h5{
  margin: 0px;
  padding: 0px;
  font-size: 75px;
  font-weight: bold;
  color: #530303;
}

h6{
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: 40px;
  font-family: fantasy;
  color: #F5E8E8;
}

#menu{
  height: 100%;
  width: 250px;
  background-color: #530303;
  position: fixed;
  top: 0px;
  left: 0px;
}

#contentContainer{
  padding-left: 250px;
  background-color: #000;
}

#headerSection{
  height: 450px;
  padding-left: 20px;
  padding-top: 10px;
  background-image: url('Uzumaki.jpg');
  background-size: cover;
  background-position: center center;
}

#bestSellerSection{
  height:auto;
  padding: 20px;
  background-color: #B39191;
}

#bestSellerDescription{
  text-indent: 50px;
  margin-right: 340px;
  text-align: justify;
  font-size: 30px;
}

#bestSellerInformation{
  margin-right: 320px;
  text-align: justify;
  font-size: 30px;
  font-family: fantasy;
  color: #F5E8E8;
}

#BestSellerThumbnail{
  padding: 20px;
  height:400px;
  width:271px;
  top: 575px;
  right: 20px;
  position: absolute;
  background-image: url('UzumakiCover.jpg');
  background-size: contain;
}

#authorSection{
  height:auto;
  padding: 20px;
  background-color: #000;
}

#authorDescription{
  text-indent: 50px;
  text-align: justify;
  font-size: 30px;
  color: #737373;
}

#newReleasesSection{
  height:auto;
  padding: 20px;
  background-color: #B39191;
}
.thumbnail{
  padding: 30px;
  height: 400px;
  width: 275px;
}

#footerSignature{
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: right;
  font-size: 20px;
  font-family: fantasy;
  color: #F5E8E8;
  background-color: #000;
}
